.container {
    display: grid;
    grid-template-rows: 50px 400px 50px;

}
.lists {
    display: flex;
    list-style: none;
}
#channels {
    padding: 10px;
    cursor: pointer;
}

#channels.active {
    font-weight: bold;
    text-decoration: underline
}

.channel-Container {
    display: flex;
    flex-wrap: wrap;
}

.add-channel {
    display: flex;
    align-items: center;
    justify-content: center;
}

#chatall {
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
}