<!DOCTYPE html>
<html>
  <head>
    <title>Chat Chat Chat it up!</title>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"
    ></script>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <div class="container">
      <div class="channel-Container">
        <ul class="lists">
          <li id="channels">Channels:</li>
          {% for x in channels %}

          <li id="channels">{{ x }}</li>

          {% endfor %}
        </ul>
        <form class="add-channel">
          <input id="channelAdd" name="channelAdd" placeholder="channel" />
          <button id="submitChannel">add channel</button>
        </form>
      </div>



      <div id="chatall">
        {% for x in chat %}

        <p>{{ x }}</p>
  
        {% endfor %}
      </div>

      <form id="nameormsg"></form>
    </div>
  </body>
</html>
